<h1>Scrabble GO!</h1>
<p>Here are your random letters. Try to make the longest word possible out of it:</p>
<h2><%= @letters %></h2>

<form >
  <input type="text" placeholder="Your word ..." />
  <input class="btn" type="submit" value="Score!">
</form>